<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <p>
  <input type="checkbox" name="completed"
  <%= "checked" if task.completed %>
  onclick="return false;" />
    <%= link_to task.title, task_path(task) %>
  </p>

<% end %>
